body{
    margin:0;
    padding:0;
    background c: black ;  
    font-size: 16px;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
}
header .header_1{
    border-top:3px solid #818181;
    height:35px;
    background:linear-gradient( to bottom ,#343434 15% ,  #242424 50%, #0f0f0f 75% ,#0B0B0B 95%);
}
header .header_1 a{
    text-decoration:none;
    color:orange;
    font-size:16px;
    float:right;
    margin-right:300px;
    margin-top:5px;
}
header .header_1 a:hover{
    color: blue;
}

header .header_2{
    height:600px;
    background-image: url('https://img1.goodfon.ru/original/1680x1050/4/38/tumannost-zvezdy-kosmos-6283.jpg');
    margin:auto;
     border-bottom:2px solid #818181;
}
.center{
    width:80%;
    margin:0 auto;
}
.header_2 h1{
    margin-top:0;
    margin-bottom:20px;
    padding-top:20px;
    text-align:center;
    font-size:90px;
    color: white;
}
.header_2 form {
    text-align:center;
    color:#f7f7f7;
   
}
.header_2 form a{
    text-decoration:none;
    margin-left:20px;
    padding:5px 20px 5px 20px;
    font-size:20px;
    background:linear-gradient(to bottom,#dddddd 50% ,#c6c6c6 95%);
    border-radius:6px;
    color:#818181;
}
.header_2 .header_par{
    font-size:27px;
    color:white;
    margin-bottom:0;
}
main {
    background-color: black;
}
h2 {
    color: red;
    font-size: 40px;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
}
h {
    color: black;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
}
.news-block1 {
  color:white ;
  background-image: url('http://fonday.ru/images/tmp/10/9/original/109934FnOsDUUIeBk7ZFbgf60f0.jpg');
  width:1100px;
  height:120px;
  border:5px solid white;
  margin:30px;
} 
.news-block2 {  
  color:white ;
   background-image: url('https://i.ytimg.com/vi/E2vfL9l9sOM/maxresdefault.jpg');
  width:1100px;
  height:120px;
  border:5px solid white;
  margin:30px;
}
.news-block3 {
  color:white ;
  background-image: url('http://dokonline.com/uploads/posts/2016-05/1463308734_adv.jpg');
  width:1100px;
  height:120px;
  border:5px solid white;
  margin:30px;
}
a {
    color: orange;
}
a:hover{
    color: red;
}
footer {
    margin:0;
    padding:0;
    background-color: grey ;  
    font-size: 16px;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
}
h3 {
    color: white;
    font-size: 20px;
}
textarea {
	overflow: auto;
	resize: none;
	width: 300px;
	height: 50px;
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 0 0;
	padding: 8px 0 8px 10px;
}