body {
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
    background-image:url('https://wallpaperscraft.ru/image/kosmos_planeta_svet_galaktika_94490_1920x1080.jpg');
}
header .header_1{
    border-top:2px solid #818181;
    height:35px;
    background:linear-gradient( to bottom ,#343434 15% ,  #242424 50%, #0f0f0f 75% ,#0B0B0B 95%);
}
header .header_1 a{
    text-decoration:none;
    color:orange;
    font-size:15px;
    float:right;
    margin-right:300px;
    margin-top:5px;
}
header .header_1 a:hover{
    color: purple;
    animation-fill-mode: both;
}
main {
     margin:0;
    padding:0;
    font-size: 16px;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
}
h2 {
    margin: 60px auto;
    padding: 10px;
    font-size: 80px;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
    color: yellow;
}
p {
    color: red;
    font-size:20px;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
     text-shadow: 0 1px 0 rgba(0,0,0,0.8);
    
}
footer {
    font-size: 16px;
    margin-bottom: 20px;
    background-color: black;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
}
h3 {
    color: white;
    font-size: 50px;
}
textarea {
	overflow: auto;
	resize: none;
	width: 300px;
	height: 50px;
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 0 0;
}
h4 {
    color: red;
    font-size: 30px;
    font-family: Times New Roman, Arial, Helvetica, Sans-Serif;
}
h4:hover {
    color: blue;
}